@tailwind base;
@tailwind components;
@tailwind utilities;

/* Archivo: Accordion.css */

.accordion-container {
    width: 100%;
  }
  
  .accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    padding: 10px;
    cursor: pointer;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordion-content {
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #555 transparent transparent transparent;
    margin-right: 5px;
  }
  
  .open {
    transform: rotate(-180deg);
  }
  